.topright {
    position: absolute;
    top: 25px;
    right: -440px;
    font-size: 18px;
    display: "inline-block";
    line-height: 1.2;
  }
  .photo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: -550px;
    display: "inline-block";
  }

  .topleft {
    position: absolute;
    top: 8px;
    left: 4px;
    font-size: 20px;
    display: "inline-block";
    text-align: left;
    line-height: 1.8;
  }
  .logo {
    height: 100px;
    width: 100px;
  }

  .homePageHeader {
    color:rgb(239, 240, 241);
    height:110px;
    background-color: rgb(101, 22, 230);
    background-image: url("images/Background.jpg");
}

.slogan {
  line-height: 1.2;
  display: "inline-block";
  font-family: 'Franklin Gothic Medium';
}