@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F3F08A;
  max-height: 600vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(128, 183, 235);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
